In [1]:
import re
import numpy as np
import pandas as pd
import math

In [2]:
homes = pd.read_csv('../data/homeInferences_user.tsv', sep = '\t', names=['uid','longitude', 'latitude']).dropna()
homes['longitude'] = homes['longitude'].apply(float)
homes.head()

   uid   longitude   latitude
0   15 -122.385897  37.616909
1   18 -116.349939  33.754546
2   76 -121.775986  36.231914
3   87 -119.359636  36.352733
4  259 -122.399341  37.803324

In [3]:
homes.dtypes

uid            int64
longitude    float64
latitude     float64
dtype: object

### Reverse Geolocation
Reverse geolocation using: http://api.geonames.org/countryCode?lat={}&lng={}&username=vrmpx

In [4]:
geo = pd.read_csv('../data/countryData/GS.csv', index_col=0)
geo.head()

  Country
0      US
1      US
2      US
3      US
4      US

In [5]:
sum(geo['Country'] == 'US') / float(len(geo))

0.9337561663143058

In [6]:
geo = geo[np.logical_not(geo['Country'].str.contains("ERR"))]

In [7]:
geo['Country'].unique()

array(['US', 'MX', 'BR', 'AR', 'PH'], dtype=object)

## Learn
Clusterizamos las coordenadas en dos clusters, para ver si eso funciona comparamos contra G.S. geo

In [8]:
def score(df, gs, colname, colnamegs):
    
    tmp = pd.merge(df, gs, left_index=True, right_index=True)

    tp = sum(np.logical_and(tmp[colname] == "US", tmp[colnamegs] == "US"))
    tn = sum(np.logical_and(tmp[colname] == "MX", tmp[colnamegs] == "MX"))
    fp = sum(np.logical_and(tmp[colname] == "US", tmp[colnamegs] == "MX"))
    fn = sum(np.logical_and(tmp[colname] == "MX", tmp[colnamegs] == "US"))

    total = float(tp + tn + fp + fn)

    print "Acc: ", (tp + tn) / total

In [9]:
#from sklearn import tree
from sklearn.ensemble import GradientBoostingClassifier

tmp = pd.merge(homes, geo, left_index=True, right_index=True).dropna()
data = tmp[['longitude', 'latitude']]
Y = tmp['Country']

#clf = tree.DecisionTreeClassifier()
clf = GradientBoostingClassifier()
clf = clf.fit(data, Y)

homes['tree'] = clf.predict(homes[['longitude', 'latitude']])
score(homes, geo, 'tree', 'Country')

Acc:  1.0

In [10]:
homes.head()

   uid   longitude   latitude tree
0   15 -122.385897  37.616909   US
1   18 -116.349939  33.754546   US
2   76 -121.775986  36.231914   US
3   87 -119.359636  36.352733   US
4  259 -122.399341  37.803324   US

In [11]:
sum(homes['tree'] == 'US') / float(len(homes))

0.93620547608608717

In [ ]:
#save to file
homes.to_csv('../data/countryInference_user.tsv', sep = '\t', index = False)

### Test set 
Obtenemos otras 500? medidas de pais para ver que tan mal estamos

In [12]:
sampled_df = pd.read_csv('../data/countryData/testSample.tsv', index_col=0)
sampled_df.head()

              uid   longitude   latitude tree
99487   316931323 -121.798275  36.631606   US
79617   212447118 -117.158700  32.746894   US
114946  395151697 -120.874750  37.383071   MX
134539  533816927 -117.716254  34.047615   MX
139332  569677531 -121.665114  36.733790   US

In [29]:
sampled_results = pd.read_csv('../data/countryData/testResults.txt', names = ['Country'])
sampled_results.index = sampled_df.index
sampled_results = sampled_results[np.logical_not(sampled_results['Country'] == 'ERR:15:no country code found')]
sampled_results.head()

       Country
99487       US
79617       US
114946      US
134539      US
139332      US

In [30]:
res = pd.merge(sampled_df, sampled_results, left_index=True, right_index=True)
print "Acc: ", sum(res['tree'] == res['Country']) / float(len(res))

Acc:  0.825557809331

In [31]:
res[res['tree'] != res['Country']]

               uid   longitude   latitude tree Country
7551      15823124 -117.667942  33.650403   MX      US
10022     17241489 -117.217213  34.072689   MX      US
19341     24024618 -119.122779  35.302958   MX      US
28434     33437957 -117.020249  32.539392   US      MX
28587     33674202 -117.089293  32.712043   MX      US
31130     36781805 -116.981925  32.503539   US      MX
31519     37253345 -118.199089  34.542535   MX      US
31604     37345086 -122.678003  38.341410   MX      US
36131     43946844 -120.679000  38.755600   MX      US
36862     45211285 -116.976568  32.527907   US      MX
39676     50267031 -117.025943  32.522340   US      MX
40752     52496558 -116.999331  33.099360   MX      US
42390     55949411 -117.276733  34.077074   MX      US
45536     63744931 -116.964374  32.517741   US      MX
54079     90780062 -119.582102  36.703632   MX      US
60944    117699327 -117.212216  32.858731   BR      US
65624    139275354 -119.523170  36.515223   MX      US
65900    140652211 -117.042452  32.539815   US      MX
68565    154380014 -117.185458  32.717665   MX      US
70042    161431770 -117.051682  32.609410   MX      US
73041    175132272 -117.101056  32.701453   MX      US
73130    175451214 -117.174406  32.718469   MX      US
73728    178115167 -117.247857  32.897691   MX      US
75166    185346349 -122.671245  38.337386   MX      US
77821    199549247 -117.120636  32.702159   MX      US
82005    224904673 -117.011887  32.521478   US      MX
82307    226600624 -117.171641  32.742992   MX      US
83117    231261746 -120.835663  37.011777   MX      US
83117    231261746 -120.835663  37.011777   MX      US
83117    231261746 -120.835663  37.011777   MX      US
...            ...         ...        ...  ...     ...
149447   723384962 -120.453243  37.387694   MX      US
152197   768972768 -117.063268  32.601836   MX      US
154151   807835112 -117.160254  32.708344   MX      US
158535   883525946 -118.160187  34.042580   MX      US
161051   934706762 -117.126201  33.556938   MX      US
164883  1005661572 -121.344263  38.444249   MX      US
167139  1053298363 -117.176541  32.982924   MX      US
174030  1229018269 -116.979793  32.522113   US      MX
177888  1330183956 -116.989583  32.543281   US      MX
182348  1445354263 -119.174305  34.228283   MX      US
188220  1606771272 -117.070563  32.714389   MX      US
189246  1633715742 -117.185029  32.736406   MX      US
190249  1656936872 -116.984992  32.512393   US      MX
194547  1887926918 -117.319256  33.687467   MX      US
196376  1947579350 -116.888164  34.234375   MX      US
198957  2172542587 -117.186079  32.784945   MX      US
203286  2247995713 -117.555370  34.144547   MX      US
204751  2269344084 -117.020522  32.471028   US      MX
211912  2390724914 -118.259377  34.148022   MX      US
216234  2511137437 -120.094010  36.984182   MX      US
217442  2556738891 -117.017694  32.725169   MX      US
218573  2592929661 -116.999753  32.627639   MX      US
218947  2608882284 -117.064164  32.610877   MX      US
219452  2647144945 -121.692736  38.547802   MX      US
219571  2655636668 -116.927205  32.488274   US      MX
221210  2766930438 -117.166723  32.794076   MX      US
221702  2796086218 -119.903830  36.762123   MX      US
223312  2883359933 -119.953111  36.774427   MX      US
225570  2983350009 -116.923445  32.464089   US      MX
226257  3026418007 -117.081629  32.716499   MX      US

[86 rows x 5 columns]