In [54]:
import re
import numpy as np
import pandas as pd

import numpy.linalg as LA 
from sklearn.cluster import DBSCAN

In [55]:
data = pd.read_csv('../data/sample_users_location_time.tsv', sep='\t')
data.head()

,from_user_id,created_at,coordinates
0,2537269060,Sat Jan 10 01:01:47 +0000 2015,"{u'type': u'Point', u'coordinates': [-117.1306..."
1,2329502492,Sat Jan 10 01:01:47 +0000 2015,"{u'type': u'Point', u'coordinates': [-117.1701..."
2,366331312,Sat Jan 10 01:01:47 +0000 2015,"{u'type': u'Point', u'coordinates': [-121.2075..."
3,1007081804,Sat Jan 10 01:01:50 +0000 2015,"{u'type': u'Point', u'coordinates': [-117.0861..."
4,89506217,Sat Jan 10 01:01:53 +0000 2015,"{u'type': u'Point', u'coordinates': [-121.3433..."

In [56]:
lon_re = "{u'type': u'Point', u'coordinates': \[(.*),\s.*\]}"
data['longitude'] = data['coordinates'].str.extract(lon_re)

lat_re = "{u'type': u'Point', u'coordinates': \[.*,\s(.*)\]}"
data['latitude'] = data['coordinates'].str.extract(lat_re)
data = data.drop('coordinates', 1)

data.head()

   from_user_id                      created_at    longitude   latitude
0    2537269060  Sat Jan 10 01:01:47 +0000 2015  -117.130628  32.736346
1    2329502492  Sat Jan 10 01:01:47 +0000 2015  -117.170173  32.699702
2     366331312  Sat Jan 10 01:01:47 +0000 2015  -121.207559  38.238465
3    1007081804  Sat Jan 10 01:01:50 +0000 2015  -117.086182  32.778781
4      89506217  Sat Jan 10 01:01:53 +0000 2015  -121.343304  37.657208

In [57]:
filtered = data[['from_user_id', 'longitude', 'latitude']] \
                .groupby('from_user_id') \
                .filter(lambda x: len(x) > 3) \
                .dropna()
filtered.head()

    from_user_id    longitude   latitude
0     2537269060  -117.130628  32.736346
7      506724954  -117.099371   32.74269
16      52483167  -117.076995  32.905226
18      74901100  -116.970399  32.630514
22    2537269060   -117.13065  32.736294

In [58]:
def cluster(locations, xmin = 1, epsilon = 0.3, neigh_samples = 3, random_state = 42):
    """ Devuelve el cluster de los datos para un usuario
        INPT: 
        locations es una matriz de coordenadas
        epsilon, neigh_samples: datos para DBSCAN
        OUTPT:
            (cluster, labels) si el numero de filas en locations > xmin
                               cluster es una lista de n_clusters matrices de len(n_clusters) x 2
            (none, none) en otro caso
    """
    db = DBSCAN(eps = epsilon, min_samples = neigh_samples, random_state = random_state).fit(locations)
    labels = db.labels_
    n_clusters = len(set(labels)) - (1 if -1 in labels else 0)

    clusters = [locations[labels == i] for i in xrange(n_clusters)]

    return clusters

In [60]:
def getCentroid(cluster):
    """
        Devuelve el centroide de las coordenadas del cluster
        INPT:
            cluster es el cluster obtenido para ese usuario
        OUTPT:
            centroid si cluster es distinto de None
            None en otro caso
    """
    try:
        return np.mean(cluster, axis = 0)
    except:
        return None

def maxCluster(clusters):
    """ Deuvelve el cluster mas grande para un usuario
        INPT:
            clusters: cluster obtenido para key
    """
    try:
        return clusters[np.argmax(map(len, clusters))]
    except:
        return None

In [64]:
for uid, val in filtered.groupby('from_user_id'):
    mtx = np.matrix(val[['longitude', 'latitude']].values)
    c = cluster(mtx)
    print uid, c

 76 [matrix([['-121.775835', '36.231731'],
        ['-121.776149', '36.231866'],
        ['-121.775856', '36.231743'],
        ['-121.775892', '36.231763']], dtype=object)]
20267224 [matrix([['-118.263054', '34.145047'],
        ['-118.263102', '34.145023'],
        ['-118.263103', '34.145022'],
        ['-118.263103', '34.145022']], dtype=object)]
22212936 [matrix([['-117.147518', '32.792603'],
        ['-117.14766', '32.792616'],
        ['-117.147469', '32.792647'],
        ['-117.147383', '32.792696'],
        ['-117.147733', '32.792567']], dtype=object)]
24551649 [matrix([['-117.155258', '32.772831'],
        ['-117.155319', '32.77278'],
        ['-117.154517', '32.773539'],
        ['-117.154323', '32.76891']], dtype=object)]
52483167 [matrix([['-117.076995', '32.905226'],
        ['-117.076987', '32.905228'],
        ['-117.076986', '32.905226'],
        ['-117.076996', '32.905226']], dtype=object)]
64958473 [matrix([['-118.297093', '34.166883'],
        ['-118.297106', '34.166806'],
        ['-118.297095', '34.166795'],
        ['-118.297087', '34.166618'],
        ['-118.297158', '34.166762'],
        ['-118.296934', '34.166913'],
        ['-118.297063', '34.166842'],
        ['-118.297253', '34.167058'],
        ['-118.297057', '34.166644'],
        ['-118.297021', '34.166921'],
        ['-118.297121', '34.166805'],
        ['-118.297937', '34.166995'],
        ['-118.297106', '34.166832'],
        ['-118.298307', '34.167838'],
        ['-118.297155', '34.166693'],
        ['-118.297062', '34.166637'],
        ['-118.297075', '34.166845'],
        ['-118.297088', '34.166809']], dtype=object)]
74901100 [matrix([['-116.970399', '32.630514'],
        ['-116.970399', '32.630514'],
        ['-116.970399', '32.630514'],
        ['-116.970399', '32.630514'],
        ['-116.970399', '32.630514'],
        ['-116.970399', '32.630514']], dtype=object)]
148538057 [matrix([['-116.940613', '33.516794'],
        ['-116.940623', '33.516796'],
        ['-116.940623', '33.516796'],
        ['-116.940623', '33.516795']], dtype=object)]
153395423 [matrix([['-117.191277', '34.501359'],
        ['-117.19129', '34.501348'],
        ['-117.191264', '34.501346'],
        ['-117.191305', '34.501371'],
        ['-117.191364', '34.5013'],
        ['-117.191234', '34.501338'],
        ['-117.191332', '34.501266']], dtype=object)]
275647207 [matrix([['-117.138507', '32.825401'],
        ['-117.138358', '32.825248'],
        ['-117.138461', '32.82528'],
        ['-117.138397', '32.825209'],
        ['-117.138363', '32.825206'],
        ['-117.13855', '32.825384'],
        ['-117.138569', '32.825243'],
        ['-117.138542', '32.825339'],
        ['-117.138557', '32.825248'],
        ['-117.138469', '32.825258']], dtype=object)]
388584938 [matrix([['-118.659605', '34.541217'],
        ['-118.702917', '34.579967'],
        ['-118.711896', '34.591688'],
        ['-118.750036', '34.642301']], dtype=object)]
421095102 [matrix([['-117.15922', '32.712611'],
        ['-117.09704', '32.794637'],
        ['-117.16059', '32.709067'],
        ['-117.129428', '32.726696'],
        ['-117.15886', '32.714606']], dtype=object)]
453614031 [matrix([['-117.075128', '32.624634'],
        ['-117.075128', '32.624634'],
        ['-117.075065', '32.624788'],
        ['-117.075055', '32.624803'],
        ['-117.075089', '32.62479'],
        ['-117.075089', '32.62479'],
        ['-117.075053', '32.624807'],
        ['-117.075042', '32.624752']], dtype=object)]
506724954 [matrix([['-117.099371', '32.74269'],
        ['-117.099422', '32.742759'],
        ['-117.099286', '32.742706'],
        ['-117.099334', '32.74272']], dtype=object)]
557374542 [matrix([['-117.036036', '32.609466'],
        ['-117.035988', '32.609456'],
        ['-117.035776', '32.609508'],
        ['-117.035515', '32.609435']], dtype=object)]
1076217985 [matrix([['-117.147615', '33.639915'],
        ['-117.147682', '33.639954'],
        ['-117.147795', '33.639868'],
        ['-117.147643', '33.639986'],
        ['-117.147701', '33.639722'],
        ['-117.147647', '33.64001'],
        ['-117.147733', '33.639901'],
        ['-117.1478', '33.639933'],
        ['-117.147803', '33.639993'],
        ['-117.147741', '33.639923'],
        ['-117.14752', '33.639807'],
        ['-117.147697', '33.639848'],
        ['-117.147858', '33.640065'],
        ['-117.147723', '33.639943'],
        ['-117.147693', '33.640063'],
        ['-117.147848', '33.63992'],
        ['-117.147456', '33.639876'],
        ['-117.147759', '33.639925']], dtype=object)]
1152743852 [matrix([['-117.085432', '32.706406'],
        ['-117.085616', '32.706392'],
        ['-117.085429', '32.706263'],
        ['-117.085338', '32.706147'],
        ['-117.085345', '32.7061']], dtype=object)]
1522959505 [matrix([['-116.982119', '32.484524'],
        ['-116.982119', '32.484525'],
        ['-116.982119', '32.484524'],
        ['-116.982119', '32.484524']], dtype=object)]
2173198153 [matrix([['-117.17583', '34.742563'],
        ['-117.156135', '34.761416'],
        ['-117.145621', '34.769902'],
        ['-117.145621', '34.769902']], dtype=object)]
2270798408 [matrix([['-116.969233', '32.64115'],
        ['-116.969296', '32.641027'],
        ['-116.969279', '32.641137'],
        ['-116.969099', '32.641179']], dtype=object)]
2537269060 [matrix([['-117.130628', '32.736346'],
        ['-117.13065', '32.736294'],
        ['-117.130709', '32.736404'],
        ['-117.130746', '32.736205']], dtype=object)]
2553834654 [matrix([['120.597506', '15.170045'],
        ['120.597506', '15.170044'],
        ['120.597506', '15.170044'],
        ['120.597461', '15.17019'],
        ['120.59745', '15.170226']], dtype=object)]
2786280332 [matrix([['-122.381001', '37.618651'],
        ['-122.373816', '37.62145'],
        ['-122.373816', '37.62145'],
        ['-122.373816', '37.62145'],
        ['-122.382182', '37.622559']], dtype=object)]
2891232161 [matrix([['-117.097216', '32.632129'],
        ['-117.092704', '32.619449'],
        ['-117.088099', '32.588389'],
        ['-117.088171', '32.582575']], dtype=object)]
2891439723 [matrix([['-58.488113', '-34.566196'],
        ['-58.488148', '-34.566144'],
        ['-58.488049', '-34.566238'],
        ['-58.488066', '-34.566246']], dtype=object)]