In [2]:
from matplotlib import pylab
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from mpl_toolkits.basemap import Basemap as Basemap

In [3]:
import pandas as pd

In [5]:
data = pd.read_csv('../data/CountrySeries/results.csv', parse_dates=['date'], index_col=['date'])
data.head()

                     us_valence  us_arousal  mx_valence  mx_arousal
date
2014-01-01 00:00:00    2.988962    2.354228    2.720881    2.079737
2014-01-01 00:01:00    2.739016    2.150064    0.000000    0.000000
2014-01-01 00:02:00    2.970623    2.374586    3.985416    3.249138
2014-01-01 00:03:00    2.666414    2.098864    1.871086    1.904508
2014-01-01 00:04:00    2.634461    2.075230    1.428373    1.174216

In [7]:
for m, grp in data.groupby(pd.TimeGrouper("M")):
    print m

2013-12-31 00:00:00
2014-01-31 00:00:00
2014-02-28 00:00:00
2014-03-31 00:00:00
2014-04-30 00:00:00
2014-05-31 00:00:00
2014-06-30 00:00:00
2014-07-31 00:00:00
2014-08-31 00:00:00
2014-09-30 00:00:00
2014-10-31 00:00:00
2014-11-30 00:00:00
2014-12-31 00:00:00
2015-01-31 00:00:00
2015-02-28 00:00:00
2015-03-31 00:00:00
2015-04-30 00:00:00
2015-05-31 00:00:00
2015-06-30 00:00:00
2015-07-31 00:00:00